<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.GoodsMapper">
 
   <!-- 상품목록 -->
   <select id="goodsList" parameterType="string" resultType="GoodsDTO">
     select gCode,
            gCategory,
            gName,
            gContent,
            gPrice,
            gImage
     from goods
     where gCategory = #{gCategory}
   </select>
   
   <!-- 상품 자세히 보기 -->
   <select id="goodsRetrieve" parameterType="string" resultType="GoodsDTO">
     select gCode,
            gCategory,
            gName,
            gContent,
            gPrice,
            gImage
     from goods
     where gCode = #{gCode}
   </select>
   
   <!-- gPrice 기준으로 가격이 낮은 순으로 정렬된 상품 리스트를 조회하는 쿼리 -->
    <select id="lowerPrice" resultType="GoodsDTO">
        SELECT * FROM goods ORDER BY gPrice ASC;
    </select>
   
</mapper>


